<!DOCTYPE html>
<html>
<head>
	<title>Python</title>
</head>
<body>
	<a href="Main.html">
		<img src="/static/Biblioteca.jpg" alt="Pagina Home" style="width:50px;height:50px;border:0;">
	</a>
	<legend><h3>Lista de Livro</h3></legend>
	<table border=1>
		<tr>
			<td>Livro</td>
			<td>Escritor</td>
			<td>Editora</td>
			<td>Codigo</td>
		</tr>
		<tr>
			<td>As aventuras de Hobin hood</td>
			<td>Pyle Howard</td>
			<td>Abril</td>
			<td>9135745-6</td>
		</tr>
		<tr>
			<td>Harry Potter e as Reliquias da Morte</td>
			<td>J. K. Rowling</td>
			<td>Rocco</td>
			<td>65432112-5</td>
		</tr>
		<tr>
			<td>Eu Robô</td>
			<td>Isaac Asimov</td>
			<td>Gnome Press</td>
			<td>15645891-2</td>
		</tr>
	</table>
	<br>
	<fieldset>
		<legend>Cadastrar Livro</legend>
		<form>
			<input type="text" name="Livro" placeholder="Livro">
			<input type="text" name="Escritor" placeholder="Escritor">
			<input type="text" name="Editora" placeholder="Editora">
			<input type="button" name="Salvar" value="Salvar" onclick="location.href='Sucesso.html'">
			<input type="button" name="Voltar" value="Voltar" onclick="location.href='Main.html'">
		</form>
	</fieldset>
	<br>
	<br>
	<br>
	<a href="Main.html" title="Pagina Home">Pagina Home</a> 
</body>
</html>
