<!DOCTYPE html>
<html>
<head>
	<title>Python</title>
</head>
<body>
	<img src="/static/Biblioteca.jpg" alt="Biblioteca" style="width:550px;height:300px;border:0;">
	<fieldset>
		<legend><h2>Menu</h2></legend>
		<form>
			<input type="button" name="CadastroCliente" value="Cadastrar Cliente" onclick="location.href='/CadastroCliente'">
			<input type="button" name="CadastroLivro" value="Cadastrar Livro" onclick="location.href='/CadastroLivro'">
			<input type="button" name="CadastroEmprestimo" value="Realizar Emprestimo" onclick="location.href='/Emprestimo'">
			<br>
		</form>
	</fieldset>
	
</body>
</html>
